.carousel__btn_type_flip {
  grid-area: flip-btn;
}
.carousel__btn_type_flip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/flip.svg");
  opacity: 50%;
}
